{% extends 'app_agencia_de_viajes/base.html' %}

{% block title %}Ver Reservas{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Reservas</h1>
    <a href="{% url 'agregar_reserva' %}" class="btn btn-primary mb-3">Agregar Reserva</a>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>ID</th>
                    <th>Paquete</th>
                    <th>Cliente</th>
                    <th>Fecha Reserva</th>
                    <th>Adultos</th>
                    <th>Niños</th>
                    <th>Precio Total</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for reserva in reservas %}
                <tr>
                    <td>{{ reserva.id_reserva }}</td>
                    <td>{{ reserva.id_paquete }}</td>
                    <td>{{ reserva.id_cliente }}</td>
                    <td>{{ reserva.fecha_reserva }}</td>
                    <td>{{ reserva.num_adultos }}</td>
                    <td>{{ reserva.num_ninos }}</td>
                    <td>${{ reserva.total_pagado }}</td>
                    <td>{{ reserva.estado_reserva }}</td>
                    <td>
                        <a href="{% url 'actualizar_reserva' reserva.pk %}" class="btn btn-sm btn-info">Editar</a>
                        <a href="{% url 'eliminar_reserva' reserva.pk %}" class="btn btn-sm btn-danger">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
